<div class="main-content">
    <h1>Anxiety</h1>
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">timeline</i>
                      </div>
                      <p class="card-category">Age</p>
                      <h3 class="card-title">Anxiety often begins in childhood</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons"></i> 
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">woman</i>
                      </div>
                      <p class="card-category">Gender</p>
                      <h3 class="card-title">Women are more likely to be diagnosed with anxiety</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons"></i> 
                      </div>
                  </div>
              </div>
          </div>

         <div class="container">
             <div class="row">
                 <div class="col-md-auto">
                     <div class="card card-stats">
                        <p>line graph comparing males vs Females with anxiety over the years</p>
                        <div class="card-header">

                        </div>
                        <div class="card-body">
                        <!-- CHART [width, height]  -->
                        <ngx-charts-line-chart
                            [view]="[800,400]"
                            [scheme]="genderScheme"
                            [legend]="true"
                            [showXAxisLabel]="true"
                            [showYAxisLabel]="true"
                            [xAxis]="true"
                            [yAxis]="true"
                            [xAxisLabel]="'Years'"
                            [yAxisLabel]="'Percentage'"
                            [results]="genderGraph"
                            [legendTitle]="'Genders'"
                            [legendPosition]="'below'"
                            [timeline]="true"
                        >
                        </ngx-charts-line-chart>
                        </div>
                    
                     </div>
                    
                 </div>
                 <div class="col-md-auto">
                     <div class="card">
                         <div class="card-header">

                         </div>
                         <div class="card-body">
                            <!-- CHART HEADER -->
                            <p>Line graph showing the total percentage per age group in South africa with anxiety over the years</p>
                            <!-- CHART  -->
                           <ngx-charts-line-chart
                             [view]="[500,400]"
                             [scheme]="ageScheme"
                             [legend]="true"
                             [showXAxisLabel]="true"
                             [showYAxisLabel]="true"
                             [xAxis]="true"
                             [yAxis]="true"
                             [xAxisLabel]="'Years'"
                             [yAxisLabel]="'Percentage'"
                             [timeline]="true"
                             [results]="ageLine"
                             [legendTitle]="'Age groups'"
                             [legendPosition]="'below'"
                           >
                           </ngx-charts-line-chart>
                         </div>
                     </div>
                    
                </div>
                <!-- CHART HEADER -->
                <h3>Line graph showing the total percentage of the population in South africa with anxiety over the years</h3>
                <!-- CHART  -->
                  <ngx-charts-line-chart
                    [view]="[1000,600]"
                    [scheme]="moneyScheme"
                    [legend]="true"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [xAxisLabel]="'Years'"
                    [yAxisLabel]="'Percentage'"
                    [timeline]="true"
                    [results]="populationDATA"
                    [legendPosition]="'below'"
                  >
                  </ngx-charts-line-chart>
             </div>
         </div>
        

    </div>
  </div>
</div>
